.example-card {
    max-width: 400px;
    margin: 15px;
    padding-bottom: 1rem;
    cursor: pointer;
    border-radius: 30px !important;
}

.example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png');
    background-size: cover;
}

.title-center {
    flex: auto;
    text-align: center;
}

.icono-card{
    padding-left: 5%;
}

.text-card{
    padding-left: 7%;
    vertical-align: super;
}

.p-card{
    text-align: justify;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}