<div fxFlex="100">

  <p style="margin: none;">
    <mat-toolbar class="toolbar" fxFlex="100">
        <img class="icono-tareas" src="../../../assets/imgs/icono-tareas.ico" alt="icono tareas">
      <span class="titulo-toolbar">TAREITAS</span>
      <span class="espaciador-toolbar"></span>
      <button mat-icon-button aria-label="Icono user">
        <mat-icon class="icono-user">account_circle</mat-icon>
      </button>
    </mat-toolbar>
</p>

<div>
  <main>
    <div class="row no-margin-right" fxLayout="row wrapper" fxLayoutGap=" grid">
      <select fxFlex="30%" fxFlex.xs="80%" fxFlex.sm="100%" fxFlex.md="30%" name="category_name" class="conten-select">
        <option value="">Todas las categorías</option>
        <option value="Matematicas">Matematicas</option>
        <option value="redes">Redes</option>
      </select>
        <form action="" method="" fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="60%">
          <div  fxFlex="100%">
          <input fxFlex="100%" type="Busqueda" placeholder="Search here" id="search"class="input">
          <button style="margin-right: 15px !important;"  class="boton-buscador"><mat-icon class="icono-search">search</mat-icon></button></div>
        </form>
    </div>

    <div fxLayout="row wrapper" fxLayoutGap=" grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%"  *ngFor="let public of publicaciones; let i = index" >
          <mat-card   class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="titulo-card">{{public.title}}</mat-card-title>
                <mat-card-subtitle class="subtitulo-card">{{public.user}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://concepto.de/wp-content/uploads/2013/08/matematicas-e1551990337130.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content class="contenido-card">
                <p class="crop">
                  {{public.texto}}
                </p>
              </mat-card-content>

              <mat-card-footer>
                <mat-icon (click)="onClick(i)" class="icono-card" id="favButo">
                  {{ public.isFavorite ? 'favorite' : 'favorite_border'}}
                 </mat-icon>
                <text class="numero-likes">{{public.favoriteNumber}}</text>
             </mat-card-footer>
            </mat-card>
      </div>
    </div>
  </main>
</div>

